/* body{
    margin: 0;
    padding: 0;
} */

.hello-world-button {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 7px 10px;
}

.hello-world-paragraph{
    color: blue;
    font-size: 20px;
}